.contact {
  padding: 0 $padding;

  @include mobile {
    padding: 0 1rem;
  }

  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  form {
    width: 80%;
    margin-bottom: 5rem;

    @include mobile {
      width: 100%;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 1em;
      padding: 0.5em;
      border: rgba(30, 30, 30, 0.2) 1px solid;
      outline-color: $primaryColor;
      font-size: 1em;
    }

    textarea {
      min-height: 7em;
      max-width: 100%;
    }

    input[type="submit"] {
      background-color: $primaryColor;
      color: $primaryFont;
      width: auto;
      margin: auto;
      border: 1px solid rgba(30, 30, 30, 0.7);
      padding: 0.5em 1em;
      border-radius: $radius;
      font-size: 1rem;
    }
  }
}
